@media (max-width: 700px) {
	.header_top_btn {
		float: none;
	}
	.header_contacts {
		text-align: center;
	}
	.header_btn:before {
		display: none;
	}
}
@media (max-width: 400px) {
	.header_btn:before {
		display: block;
	}
}